td {
    border-bottom: solid 1px var(--border);
    padding: 11px 10px 7px 10px;
    color: var(--dark-blue);
}

thead tr th,
tfoot tr th {
    border-bottom: solid 1px var(--border);
    padding: 11px 10px 7px 10px;
    color: var(--dark-blue);
    background-color: #eee;
}