<div class="container">

    <div class="row">
        <div class="col-xl-12">
            <section class="img404 margin-top-50">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/404.webp" alt="PeakESL 404">
            </section>

            <div class="row">
                <div class="col-3"> </div>
                <div class="col-6 margin-top-25">
                    <a href="/" class="button button-primary full-width">
                        <%= __('general.404') %>
                    </a>
                </div>
            </div>


        </div>
    </div>

</div>

<br><br><br><br><br><br>