<div id="titlebar" class="white margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <%= __('blog.headline') %>
                </h2>
                <!--<span>Featured Posts</span>-->
            </div>
        </div>
    </div>
</div>



<div class="section white padding-top-0 padding-bottom-60 full-width-carousel-fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="blog-carousel" id="featured-container">

                </div>
            </div>
        </div>
    </div>
</div>





<div class="section gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-headline margin-top-60 margin-bottom-35">
                    <h4>
                        <%= __('blog.recent') %>
                    </h4>
                </div>

                <div id="post-container"></div>





                <!-- START OF EDITING BLOG VERSION -->
                <!-- FIXME: DELETE BEFORE PUBLISHING 

                <p>Der Satz des Pythagoras: Im rechtwinkligen Dreieck ist die Summe der Katheten Quadrate gleich dem Hypotenusen Quadrat.</p>

                <ul class="content-dir">
                    <li><a href="#dreieck">Das Dreieck</a></li>
                    <li><a href="#seiten">Die Seiten</a></li>
                    <li><a href="#formel">Die Formel</a></li>
                    <li><a href="#umstellen">Umstellen</a></li>
                    <li><a href="#beispiel">Beispielaufgabe</a></li>
                </ul>


                <a class="anchor" id="dreieck"></a>
                <h2>Das Dreieck</h2>
                <p>Um die Seitenlängen berechnen zu können, müssen wir erst sichergehen, dass wir in einem rechtwinkligen Dreieck sind, das heißt ein Winkel muss 90° haben.</p>
                <div class="row">
                    <div class="col-md-6"> <img src="images/blog/subjects/maths/pythagoras-dreieck.webp" alt="Quadrat" /> </div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-5 align-self-center">
                        <p>Hier ist der rechte Winkel oben am C.</p>
                    </div>
                </div>

                <a class="anchor" id="seiten"></a>
                <h2>Die Seiten</h2>
                <p>Als nächstes benennen wir die Seitenlängen. In diesem Fall ist c die <b>Hypotenuse</b>, da sie die <b>längste</b> Seite ist und gegenüber des rechten Winkels liegt.</p>
                <p>Somit sind a und b die <b>Katheten</b>, also die beiden <b>kleineren</b> Seiten, die den 90° Winkel bilden.</p>


                <a class="anchor" id="formel"></a>
                <h2>Die Formel</h2>
                <p>Der Satz des Pythagoras: \(a^2+b^2=c^2\) </p>
                <p>Oder auch: (Kathete)² + (Kathete)² = (Hypotenuse)²</p>

                <div class="row">
                    <div class="col-md-5 align-self-center">
                        <p>Und jetzt können wir das „hoch 2“ oder „Quadrat“ auch wörtlich nehmen, denn wie man in der Abbildung sehen kann addiert man die Quadrate der Katheten (rot + blau) und erhält das Hypotenusen Quadrat (grün).</p>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-6"> <img src="images/blog/subjects/maths/pythagoras-dreieck-erklaerung.webp" alt="Dreieck" /> </div>
                </div>




                <a class="anchor" id="umstellen"></a>
                <h2>Umstellen</h2>
                <p>Oftmals ist aber nicht die Suche nach der Seite c, manchmal muss man auch a oder b ausrechnen. Dafür stellen wir den Satz des Pythagoras ganz einfach um.</p>
                <p>
                    \(a^2=c^2-c^2\)
                    <br>
                    \(b^2=c^2-a^2\)
                </p>


                <a class="anchor" id="beispiel"></a>
                <h2>Beispiel</h2>
                <p>Nicht nur in der Schule kann die Formel wichtig sein. Hier ist ein Beispiel aus dem Alltag:<br>
                    Ein Bauarbeiter hat eine 15 m lange Leiter und muss auf ein Hausdach kommen, das 12 m hoch ist. Wie weit vom Haus entfernt muss der Bauarbeiter die Leiter aufstellen?</p>


                <h3>1. Skizze erstellen und beschriften</h3>
                <div class="row">
                    <div class="col-md-5 align-self-center">
                        <p>a wird gesucht<br>
                            b ist die Wand<br>
                            c ist die Leiter</p>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-6"> <img src="images/blog/subjects/maths/pythagoras-beispiel.webp" alt="Beispiel" /> </div>
                </div>

                <h3>2. Was wissen wir?</h3>
                <p>a wird gesucht<br>
                    b = 12 (die Hauswand)<br>
                    c = 15 (die Leiter)
                </p>

                <h3>3. Formel aufstellen</h3>
                <p>\(a^2+b^2=c^2\)</p>

                <h3>4. Werte einsetzen und ausrechnen</h3>
                <p>
                    \(a^2=15^2-12^2\) <br>
                    \(a=\sqrt{15^2-12^2}\) <br>
                    \(a=9\)
                </p>

                <h3>5. Ergebnis</h3>
                <p>Der Bauarbeiter muss die Leiter 9 m vom Haus entfernt aufstellen, um auf das Dach zu gelangen.</p>

-->
                <!-- END OF EDITING ARTICLE -->
                <!-- FIXME: DELETE BEFORE PUBLISHING ARTICLE -->


            </div>
        </div>
    </div>

    <div class="padding-top-40"></div>
</div>