<div class="section padding-top-75 padding-bottom-0 index-highlights">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="subpage"><%- __('imprint.headline') %></h1>
            </div>

            <div class="col-md-4 margin-top-50">
                <p>
                    <b>PeakESL</b> <br>
                    <br>
                    <br>

                    <br><br>
                    <b><%- __('imprint.represented') %></b> <br>

                </p>
            </div>

            <div class="col-md-12 margin-top-50">
                <p>
                    <strong><%- __('imprint.disclaimer-headline') %></strong> <br>
                    <%- __('imprint.disclaimer') %>
                </p>
            </div>
        </div>
    </div>
</div>


<br /><br /><br />