<div class="section padding-top-75 padding-bottom-0 index-highlights">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="subpage"><%- __('general.refund-policy') %></h1> <br>
            </div>
            <div class="col-md-12 margin-top-20 legal">


                <% if(locale=="ru" ){ %>

                    <h2>Ответственность и гарантия возврата</h2>
                    <p>1. Ответственность PeakESL за неоказание услуги или оказание услуги недостаточного качества ограничивается возвратом уплаченной за нее суммы.</p>

                    <p>2. PeakESL вправе отказать в оказании услуг, если имеет разумные основания полагать, что Пользователь:
                    <ul>
                        <li>Вёл себя неподобающе во время занятия (например, грубил преподавателю);</li>
                        <li>Нарушил условия, установленные пунктом 8 <a href="/terms-of-service/">Соглашения</a>.</li>
                    </ul>
                    </p>
                    <p>3. При предоставлении Пользователю в качестве бонуса или поощрения продления бесплатного урока, Пользователь не может требовать денежной компенсации в случае, если услуги в рамках данного периода не были оказаны, или если Пользователь отказывается от услуг.</p>


                    <h2>Расторжение Соглашения, Прекращение участия в Соглашении и Гарантия возврата</h2>
                    <p>1. Пользователь имеет право потребовать возврат оплаченной за услуги суммы в полном объеме, если выполняются следующие условия:</p>
                    <ul>
                        <li>Оплата, указанная в пункте <a href="/terms-of-service/">9.1.1. Соглашения</a>, была совершена Пользователем впервые; </li>
                        <li>С момента оплаты прошло менее одного календарного месяца;</li>
                        <li>Пользователь забронировал занятия и получил отмену со стороны преподавателей не менее трех раз в соответствии с порядком действий и условиями начала занятия, обозначенными в пункте <a href="/terms-of-service/">3 Соглашения</a>;</li>
                        <li>В иных случаях пользователь вправе расторгнуть настоящее Соглашение в одностороннем порядке, письменно уведомив PeakESL с почтового адреса, который был указан при регистрации на Сайте и сервисах PeakESL, по официальному адресу elizaveta@PeakESL.ru о своем намерении расторгнуть Соглашение и причинах расторжения.</li>
                    </ul>

                    <p>2. PeakESL рассмотрит вопрос о возврате Пользователю ранее оплаченных Пользователем денежных средств в размере, равном стоимости услуг, не оказанных PeakESL, но при условии удержания компанией PeakESL понесенных ею расходов на обработку платежей.</p>
                    <p>3. В случае положительного решения возврат средств производится в течение 10 (десять) календарных дней с даты расторжения Соглашения. При наличии претензии к качеству оказанных услуг такая претензия рассматривается PeakESL в течение 10 календарных дней.</p>
                    <p>4. Чтобы получить возврат денежных средств Пользователь заполняет заявление о возврате денежных средств по форме, предоставленной PeakESL, подписывает его и отправляет его электронную копию вместе с электронной копией первой страницы удостоверения личности Пользователя с почтового адреса, который был указан при регистрации на Сайте и сервисах PeakESL, на официальный адрес elizaveta@PeakESL.ru.</p>

                    <% }else{ %>

                        <h2>Belehrung über Widerrufsrecht</h2>
                        <br>

                        <h3>Widerrufsrecht</h3>
                        <p>
                            Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsschlusses.
                            Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Leon Fiedler, Gymnicher Straße 4, 50937 Köln, E-Mail: support@PeakESL.de mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
                        </p>

                        <h3>Folgen des Widerrufs</h3>
                        <p>
                            Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
                        </p>

                        <h3>Erlöschen des Widerrufsrechts</h3>
                        <p>
                            Das Widerrufsrecht erlischt vorzeitig, wenn PeakESL mit der Ausführung der Leistung (z.B. Beginn der Nachhilfestunden, des Seminars) mit ausdrücklicher Zustimmung bzw. auf ausdrücklichen Wunsch des Teilnehmers hin vor Ende der Widerrufsfrist begonnen oder der Teilnehmer diese selbst veranlasst hat.
                        </p>
                        <% } %>

            </div>
        </div>
    </div>
</div>


<br /><br /><br />