<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta property="og:title" content="PeakESL - your worldwide online tutoring platform">
    <meta property="og:description" content="Find your online tutor or become one yourself with PeakESL. Easy and quick setup to get started right away.">
    <meta name="twitter:image" content="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/home-background.jpg">
    <meta property="og:url" content="https://peakesl.de">

    <meta name="twitter:title" content="PeakESL - your worldwide online tutoring platform">
    <meta name="twitter:description" content="Find your online tutor or become one yourself with PeakESL. Easy and quick setup to get started right away.">
    <meta name="twitter:image" content="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/home-background.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="PeakESL">

    <meta name="title" content="PeakESL - Find your online tutor or become one yourself">
    <meta name="description" content="Find worldwide your perfect online tutor or become one yourself and start earning money from teaching. Get started today to boost your knowledge and skills.">
    <meta name="keywords" content="online tutoring, video tutoring, student to student tutoring, worldwide tutoring community, online teachers, online education, video education, online school homeschooling">

    <link rel="icon" type="image/png" href="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/favicon.png">
    <link rel="apple-touch-icon" href="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/apple-touch-icon.png" />


    <link rel="preload" href="/css/bootstrap-grid.css" as="style">
    <link rel="preload" href="/css/style.css" as="style" />
    <link rel="preload" href="/css/icons.css" as="style">

    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/icons.css">


    <script>
        var i18n_locale = "en";
    </script>

    <script src="/i18n/en.js"></script>

    <script>
        /* beautify preserve:start */
        var uData = JSON.parse(<% - JSON.stringify(JSON.stringify(user)) %>);
        var notifications = JSON.parse(<% - JSON.stringify(JSON.stringify(notifications)) %>);

        var EXCHANGE_RATES = JSON.parse(<% - JSON.stringify(JSON.stringify(exchangeRates)) %>);
        /* beautify preserve:end */
    </script>

    <script src="/config.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>

    <script src="/js/i18n/bundle.js"></script>

    <script src="/js/moment.js"></script>
    <script src="/js/moment-locales/en.js"></script>

    <script src="/js/socket.io.min.js"></script>

    <script src="/js/i18n/init.js"></script>
    <script src="/controller/init.js" defer></script>

    <script src="/js/brstranalytics.js"></script>
</head>


<body class="gray">
    <div id="wrapper">
        <%- include('../internal/partials/header'); %>


            <!-- General Notification-->
            <div class="container">
                <div class="notification closeable margin-top-45" id="main-notification">
                    <p></p>
                    <a class="close"></a>
                </div>
            </div>


            <div class="container">
                <div class="dashboard-content-container padding-bottom-50">
                    <div class="dashboard-content-inner">
                        <div id="master-content">
                            <%- body %>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <%- include('../internal/partials/footer'); %>



        <script src="/js/mmenu.min.js"></script>
        <script src="/js/tippy.all.min.js"></script>
        <script src="/js/simplebar.min.js"></script>
        <script src="/js/bootstrap-slider.min.js"></script>
        <script src="/js/bootstrap-select.min.js"></script>
        <script src="/js/snackbar.js"></script>
        <script src="/js/magnific-popup.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/jquery-resizable.js"></script>

        <script src="/js/custom.js"></script>
</body>

</html>