<!DOCTYPE html>
<html lang="ru">

<head>
    <title>
        Помогаем подготовиться к Олимпиаде самому
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


    <meta property="og:site_name" content="PeakESL">
    <meta name="twitter:site" content="@peakeslteam">

    <meta property="og:title" content="Готовься к Олимпиаде с теми, у кого есть опыт - PeakESL">
    <meta property="og:site_name" content="PeakESL">
    <meta property="og:url" content="https://peakesl.com/join-olympiad-winner-community/">
    <meta property="og:description" content="Ответы на вопросы, которых нет в школе, сообщество единомышленников, практические советы, чтобы поступить.">
    <meta property="og:image" content="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/olympiad-social.webp">

    <meta name="twitter:image" content="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/olympiad-social.webp">
    <meta name="twitter:title" content="Готовься к Олимпиаде с теми, у кого есть опыт - PeakESL">
    <meta name="twitter:description" content="Ответы на вопросы, которых нет в школе, сообщество единомышленников, практические советы, чтобы поступить.">
    <meta name="twitter:image" content="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/olympiad-social.webp">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="title" content="Готовься к Олимпиаде с теми, у кого есть опыт - PeakESL">
    <meta name="description" content="Ответы на вопросы, которых нет в школе, сообщество единомышленников, практические советы, чтобы поступить.">
    <meta name="keywords" content="Олимпиада для школьников, Подготовка к Олимпиаде , Всероссийская Олимпиада Школьников (ВсОШ), Олимпиада по математике, Олимпиада по русскому, Олимпиада по английскому языку">



    <link rel="icon" type="image/png" href="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/favicon.png" />
    <link rel="apple-touch-icon" href="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/apple-touch-icon.png" />

    <link rel="preload" href="/css/bootstrap-grid.css" as="style">
    <link rel="preload" href="/css/style.css" as="style" />

    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/style.css">


    <% if(env=="production" ){ %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GSPXSHZKKE"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-GSPXSHZKKE');
        </script>
        <% } %>


            <script>
                var i18n_locale = "<%= locale %>";
            </script>


            <% if(env=="production" ){ %>
                <!-- Facebook Pixel Code -->
                <script>
                    ! function (f, b, e, v, n, t, s) {
                        if (f.fbq) return;
                        n = f.fbq = function () {
                            n.callMethod ?
                                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                        };
                        if (!f._fbq) f._fbq = n;
                        n.push = n;
                        n.loaded = !0;
                        n.version = '2.0';
                        n.queue = [];
                        t = b.createElement(e);
                        t.async = !0;
                        t.src = v;
                        s = b.getElementsByTagName(e)[0];
                        s.parentNode.insertBefore(t, s)
                    }(window, document, 'script',
                        'https://connect.facebook.net/en_US/fbevents.js');
                    fbq('init', '989837071786143');
                    fbq('track', 'PageView');
                </script>
                <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=989837071786143&ev=PageView&noscript=1" /></noscript>
                <!-- End Facebook Pixel Code -->



                <script src="/config.js"></script>
</head>

<body>






    <div id="wrapper" style="margin-top:-25px;padding: 0px 25px;z-index:10">


        <div class="ix">

            <div class="ix-head" style="background-image: url(https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/olympiad2.webp);
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
    margin-left: -25px;
    width: calc(100% + 50px);
    padding: 0px 25px 25px 25px;
    position: relative;
    max-height: 800px;
    margin-bottom: 0px;">

                <div style="background-color: black; opacity: 0.6; position: absolute;top:0;left:0;width:100%; height: 100%;z-index:0;background-image: none !important;"></div>

                <div class="container margin-top-30 margin-bottom-30" style="z-index:2;padding: 0 !important; padding-top: 75px !important;background-image: none !important;background-color: transparent !important;">
                    <div class="row align-items-center">
                        <div class="col-md-6" id="infobox">
                            <a href="/"><img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/logo.webp" alt="brainstr logo" style="height: 25px;margin-bottom: 20px;"></a>
                            <h1 style="font-size: 48px;color:#fff;">Готовься к Олимпиаде с теми, у кого есть опыт</h1>
                            <h2 class="legal" style="line-height: 1.8;color:#fff;">Мы помогаем талантливым ребятам со всей страны подготовиться к Олимпиадам не в одиночку.

                            </h2>
                        </div>

                        <div class="col-md-1"> </div>

                        <div class="col-md-5" id="join">
                            <div style="background-color: #f8f8f8;box-shadow: var(--shadow);padding:40px;border: solid 1px var(--border);">

                                <div id="registration-form" style="">
                                    <h2 style="font-weight: normal;font-size: 22px;margin-bottom: 25px;">Присоединяйся к сообществу Победителей и участников Олимпиад.</h2>
                                    <small style="line-height: 1.3 !important;
    margin-top: -10px;
    margin-bottom: 20px;
    display: block;">Заполняй анкету и мы добавим тебя в закрытую телеграмм группу участников и победителей Олимпиад.</small>
                                    <input class="border no-shadow" type="tel" placeholder="Номер телефона" id="phone">
                                    <input class="border no-shadow" type="text" placeholder="Имя" id="firstname">
                                    <input class="border no-shadow" type="text" placeholder="Фамилия" id="lastname">
                                    <input class="border no-shadow" type="email" placeholder="Почта" id="email">

                                    <div class="checkbox ts-subject-checkbox">
                                        <input type="checkbox" id="interestedInTutoring">
                                        <label for="interestedInTutoring"><span class="checkbox-icon"></span>
                                            Пригласите меня на бесплатную встречу с победителем Олимпиады</label>
                                    </div>

                                    <p style="color:red; display:none;" id="invalid-msg">Пожалуйста, заполни все поля.</p>
                                    <div id="div-loading" style="display:none;width:100%; text-align: center;"><img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/loading_books.gif" alt="Loading..." /></div>
                                    <button id="btn-submit" class="button button-primary button-block margin-top-5" onclick="signUp();">Вступить</button>

                                    <div id="link-confirmation" style="display:none;">
                                        <br> <br>
                                        <a href="https://t.me/brainstr_olympiad_community_bot" target="_blank" style="color:#000;font-weight:bold;">https://t.me/brainstr_olympiad_community_bot</a>
                                    </div>

                                </div>

                                <div id="confirmation" style="display:none">
                                    <h2 style="font-weight: normal;font-size: 22px;margin-bottom: 25px;" id="text-confirmation-name">Добро пожаловать в сообщество участников и победителей Олимпиад!</h2>
                                    <p style="line-height: 1.3 !important;
    margin-top: -10px;
    margin-bottom: 20px;
    display: block;">Мы добавим тебя с Телеграмм канал в течение 2х дней после заполнения заявки. <br><br>
                                        Если есть вопросы, пиши нам сюда: <a style="font-weight:bold; color:#000" href="mailto:support@brainstr.ru">support@brainstr.ru</a></p>

                                    <a class="button button-primary button-block" href="https://brainstr.ru">Узнай о возможностях тьюторства Brainstr</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="section padding-top-100 padding-bottom-50 uni-collection">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/logo/mgu.webp" alt="">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/logo/hse.webp" alt="">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/logo/mgimo.webp" alt="">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/logo/spbu.webp" alt="">
                <img src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/logo/tsu.webp" alt="">

                <p style="    font-weight: 600;
    margin-top: 15px;
    font-size: 14px;">Повысь свои шансы выиграть региональный и всероссийский этап Олиипиад (ВСОШ, Высшая проба, Ломоносов и др.)</p>
            </div>


            <div class="section padding-top-50 padding-bottom-50">
                <div class="row">
                    <div class="col-md-4 margin-bottom-50">
                        <img style="height: 75px;margin-bottom: 25px;" src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/icons/university.webp" alt="Top Universities">
                        <h3>Победители и участники прошедших Олимпиад</h3>
                        <p>В нашем сообществе ребята из разных регионов России, которые уже участвовали и становились призерами и победителями Олимпиад.</p>
                    </div>

                    <div class="col-md-4 margin-bottom-50">
                        <img style="height: 75px;margin-bottom: 25px;" src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/icons/exchange.webp" alt="Students Exchange Knowledge">
                        <h3>Индивидуальные встречи для подготовки</h3>
                        <p>Как лучше организовать подготовку к Олимпиадам? Какие задания встретятся в первую очередь? Какие ресурсы могут помочь? Ты можешь созвониться с теми, кто уже участвовал в Олимпиадах и узнать полезные лайфхаки и получить практические советы.</p>
                    </div>

                    <div class="col-md-4">
                        <img style="height: 75px;margin-bottom: 25px;" src="https://peakesl.nyc3.cdn.digitaloceanspaces.com/web/images/icons/materials.webp" alt="Study Materials">
                        <h3>Коллекция самых нужных ресурсов</h3>
                        <p>Участники прошлых лет делятся своими материалами и ресурсами для подготовки к Олимпиадам, о которых не говорят в школе.</p>
                    </div>
                </div>
            </div>




            <div class="section padding-top-0 padding-bottom-50" style="display:none;">
                <div class="row align-items-center" style="background-color: #f8f8f8;margin-left: -25px;width: calc(100% + 50px);">
                    <div class="col-md-6" style="padding: 25px;">
                        <h2 style="text-align: left; line-height: 1.3;font-weight: 600;margin-bottom: 5px;">"I was ready to quit.<br>Then I won Olympiads"</h2>
                        <h4>Elena, won TSU Olympiad in 2020</h4>
                        <br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>

                    <div class="col-md-6" style="min-height: 500px;background-image: url('https://images.pexels.com/photos/7034615/pexels-photo-7034615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');background-position: center center;background-size: cover;"></div>
                </div>
            </div>






            <div class="ix-head">
                <div class="container margin-top-30 margin-bottom-30" style="background-color: #fff;background-image: none !important;padding:0">
                    <h1 style="font-size: 48px">Учись вместе с сообществом участников и победителей Олимпиад.</h1>
                    <h2 class="legal" style="line-height: 1.8;">Узнай как подготовиться к Олимпиаде, чтобы победить на реальных примерах.</h2>
                    <a class="button button-primary button-block margin-top-10" href="#join">Вступить</a>
                </div>
            </div>


            <div class="landing-flinks margin-top-75">
                <a target="_blank" href="https://brainstr.ru/">brainstr.ru</a>
                <a target="_blank" href="https://brainstr.ru/privacy/">Политика конфиденциальности</a>
                <a target="_blank" href="https://brainstr.ru/terms-of-service/">Условия использования</a>
                <a target="_blank" href="https://brainstr.ru/imprint/">Контакты</a>
            </div>
        </div>

    </div>




    <script src="/controller/landing/olympiad_students_1.js"></script>
    <script>
        function resize() {
            var posForm = document.querySelector("#join").getBoundingClientRect().top + window.scrollY;
            var heightForm = document.querySelector("#join").offsetHeight;
            var heightBg = document.querySelector(".ix-head").offsetHeight;

            if (posForm + heightForm > heightBg) {
                var overflow = (posForm + heightForm) - heightBg;
                document.querySelector(".ix-head").style.marginBottom = overflow + "px";
            } else {
                document.querySelector(".ix-head").style.marginBottom = "0px";
            }
        }
        resize();
        window.onresize = resize;
        window.onload = resize;
    </script>


    <% if(env=="production" ){ %>
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () {
                    (h.hj.q = h.hj.q || []).push(arguments)
                };
                h._hjSettings = { hjid: 2298092, hjsv: 6 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script');
                r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
        <% } %>
</body>

</html>